{% extends "base.html" %}

{% block title %}
	{{ nome }} | {{ block.super }}
{% endblock %}

{% block container %}

      <div class="row">
         <div class="col-15 col-md-10">
        	 <h1 class="my-4">{{ nome }}</h1>
         </div>
      </div>

{% load thumbnail %}

      <div class="row">

        <div class="col-md-3">

				{% if imagem %}
					<img class="img-fluid" src="{{ imagem|thumbnail_url:'ator_imagem' }}" alt="{{ nome }}">
				{% else %}
					<img class="img" src="/media/atores/noimage.jpg" alt="{{ nome }}">
				{% endif %}

        </div>

        <div class="col-md-9">
          <span>Ator</span>
          <h3>{{ nome }}</h3>
          <p><b>País:</b> {{ pais }}</p>
        </div>

      </div>
      <!-- /.row -->

      <h2 class="my-4">Filmes Relacionados</h2>

      <div class="row">
				{% for filme in filmes %}
        <div class="col-md-15 col-xs-3 mb-4">
          <a href="{% url 'catalogo.views.filme' filme.slug %}">
            <img class="img" src="{{ filme.imagem|thumbnail_url:'filme_imagem_thumb' }}" alt="{{ filme }}" data-toggle="tooltip" data-placement="auto" title="{{ filme.resumo }}">
          </a>
        </div>
				{% empty %}
						Nenhum outro filme relacionado.
				{% endfor %}

      </div>

{% endblock %}
