{% extends "base.html" %}

{% block title %}
	{{ nomeFilme }} | {{ block.super }}
{% endblock %}

{% block container %}

      <div class="row">
         <div class="col-15 col-md-10">
        	 <h1 class="my-4">{{ nomeFilme }}</h1>
         </div>
				 {% if trailer %}
				 <div class="col-3 col-md-2 my-4">
						<button class="btn btn-success btn-lg video" onclick="changeVideo('{{ trailer }}')">Assistir Trailer</button>
      	 </div>
				 {% endif %}
      </div>

{% load thumbnail %}

      <div class="row">

				<div class="col-md-4">

					{% if imagem %}
					<img class="img-fluid" src="{{ imagem|thumbnail_url:'filme_imagem' }}" alt="{{ nomeFilme }}">
					{% else %}
					<img class="img" src="/media/filmes/noimage.jpg" alt="{{ nomeFilme }}">
					{% endif %}


				</div>

        <div class="col-md-8">
          <h3>Sinopse</h3>
          {{ sinopse|linebreaks }}

          <h3>Gênero</h3>
					<p>
					{% for genero in generos %}
							<a href="{% url 'catalogo.views.genero' genero.slug %}">{{ genero.nomeGenero }}</a>
							{% if not forloop.last %},{% endif %}
		  		{% empty %}
		          Nenhum gênero cadastrado.
		      {% endfor %}
		  		</p>

					<h3>Atores</h3>
          <p>
					{% for ator in atores %}
							<a href="{% url 'catalogo.views.ator' ator.slug %}">{{ ator.nomeAtor }}</a>
							{% if not forloop.last %},{% endif %}
		  		{% empty %}
		          Nenhum ator cadastrado.
		      {% endfor %}
				  </p>

        </div>

      </div>
      <!-- /.row -->

      <h2 class="my-4">Filmes Relacionados</h2>

      <div class="row">

				{% for filme in filmes_relacionados %}
        <div class="col-md-15 col-xs-3 mb-4">
          <a href="{% url 'catalogo.views.filme' filme.slug %}">
            <img class="img" src="{{ filme.imagem|thumbnail_url:'filme_imagem_thumb' }}" alt="{{ filme }}" data-toggle="tooltip" data-placement="auto" title="{{ filme.resumo }}">
          </a>
        </div>
				{% endfor %}

      </div>

			{% if trailer %}
			<!-- Iframe para exibir o trailer do vídeo  -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<p><b>TRAILER: {{ nomeFilme }}</b></p>
							<iframe id="iframeYoutube" width="465" height="315" src="" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}


{% endblock %}
