{% extends "base.html" %}

{% block title %}
	{{ nomeGenero }} | {{ block.super }}
{% endblock %}

{% block container %}
    <div class="row">

         <div class="col-15 col-md-10">
        	 <h1 class="my-4">{{ self.nomeGenero }}</h1>
         </div>

         <div class="col-3 col-md-2 my-4">
             <form class="form-inline">
                 <select class="custom-select" id="Order" name="Order">
                    <option>Ordenar por:</option>
                    <option value="A_Z">A-Z</option>
                    <option value="Z_A">Z-A</option>
                 </select>
              </form>
      	 </div>

      </div>

      <div class="row">

        <div class="col mb-4">
          <a href="">
            <img class="img" src="img/filmes/batman-vs-superman.jpg" alt="Filme">
          </a>
        </div>

        <div class="col mb-4">
          <a href="">
            <img class="img" src="img/filmes/homem-de-ferro-3.jpg" alt="Filme">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/homem-formiga.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/mulher-maravilha.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/vingadores.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/watchmen.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/homem-de-ferro-3.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/homem-formiga.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/mulher-maravilha.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/vingadores.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/batman-vs-superman.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4">
          <a href="#">
            <img class="img" src="img/filmes/homem-de-ferro-3.jpg" alt="">
          </a>
        </div>

        <div class="col mb-4"></div>
        <div class="col mb-4"></div>
        <div class="col mb-4"></div>

      </div>
{% endblock %}
