{% extends "base.html" %}

{% block container %}

    <div class="row">

         <div class="col-15 col-md-10">
        	 <h1 class="my-4">Listagem de Filmes</h1>
         </div>

         <div class="col-3 col-md-2 my-4">
             <form class="form-inline" method="get" name="form1" onchange="javascript:document.form1.submit();">
        		 <label>Ordenar por:</label>
                 <select class="custom-select" id="ordem" name="ordem">
                    <option value="">Popularidade</option>
                    <option value="A_Z" {% if ordem == "A_Z" %}selected{% endif %}>Alfabética</option>
                    <option value="Z_A" {% if ordem == "Z_A" %}selected{% endif %}>Alfabética Inversa</option>
                 </select>
              </form>
        	 </div>

      </div>

      {% load thumbnail %}

      <div class="row">

		      {% for filme in filmes %}
          <div class="col-md-15 col-xs-3 mb-4">
              <a href="{{ filme.get_absolute_url }}">
	        {% if filme.imagem %}
		          <img class="img" src="{{ filme.imagem|thumbnail_url:'filme_imagem_thumb' }}" alt="{{ filme }}" data-toggle="tooltip" data-placement="auto" title="{{ filme }}: {{ filme.resumo }}">
          {% else %}
		          <img class="img" src="/media/filmes/noimage-thumb.jpg" alt="{{ filme }}" data-toggle="tooltip" data-placement="auto" title="{{ filme }}: {{ filme.resumo }}">
          {% endif %}
              </a>
          </div>
		      {% endfor %}

      </div>

      <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

{% endblock %}
